<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Carson's Music Emporium</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="mb-4 ml-3">
  <h1>About This Project</h1>
  <div class="row">
    <div class="mb-3 mx-5">
      <img src="/images/tinylogo.jpg" alt="Logo" height="150" width="auto">
    </div>
    <div class="mb-3 mx-5">
      <img src="/images/skellybw.jpg" alt="Logo" height="150" width="auto">
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="about-section ml-3">
    <h2>About Carson's Music Emporium</h2>
    <p>This page was intended to be a fun output of my project use, creating something that I not only had fun with but could potentially just launch on its own domain eventually.</p>
    <p>I have always been super passionate about music and hip-hop in particular, ever since I was super young.
      The level of wordplay and storytelling ability present in a lot of these artists inspires me every day, especially when I'm
      trying to make my own music. This webpage gives me the chance to show my respect and honor some of these albums I believe
      made an impact on my life, in some way or another.</p>
    <p>I tried to familiarize myself with the stylization, and I believe on my homepage I managed to achieve a more modern look!
    Bootstrap has some really awesome templates for customization that made the process super easy and quite the learning
    experience.</p>
  </section>
</main>

<footer class="text-center mt-4">
  <p>&copy; 2024 Carson's Music Emporium. All rights reserved.</p>
</footer>
</body>
</html>
