<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact - My Static Web App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header class="mb-4 ml-3">
  <h1>Contact Me!</h1>
  <div class="row">
    <div class="mb-3 mx-5">
      <img src="/images/tinylogo.jpg" alt="Logo" height="150" width="auto">
    </div>
    <div class="mb-3 mx-5">
      <img src="/images/skellybw.jpg" alt="Logo" height="150" width="auto">
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="contact-section ml-3">
    <h2>Basic contact page</h2>
    <p>Feel free to email me any music I should listen to!</p>
    <p>I'm always more than happy to listen to new music, and this page is my opportunity to get to share that
    in more ways!</p>
    <p>There is no limitation on any type of music genre - In reality, I listen to every genre! So
    any recommendations are completely valid & will be listened to!</p>
    <p>Thanks again for stopping by my webpage, and have a wonderful rest of your day!</p>
    <p>legendaryskellyman@gmail.com</p>

     </section>
</main>

<footer class="text-center mt-4">
  <p>&copy; 2024 Carson's Music Emporium. All rights reserved.</p>
</footer>
</body>
</html>
